*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing:inherit;
}
#particles-js
{
    width:100%;
    height: 100vh;
    background:transparent;
    position: fixed;
}

body{
    overflow-x: hidden;
}

html{
    font-family: "Kulim Park", sans-serif;
    font-weight: normal;

    font-size:10px;
    box-sizing:border-box;
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
}

ul{
    list-style:none;
}

p{
    font-size: 1.6rem;
}

img{
    width:100%;
    max-width:100%;
    height:auto;
}

section{
    padding:5rem 0;
}

header{
    width: 100%;
    height: 5rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.container{
    width: 100%;
    max-width: 98rem;
    margin: 0 auto;
    padding: 0 1.5rem;
}

nav{
    width: 100%;
    display: flex;
    align-items:center;
    justify-content: space-between;
    padding: 1rem 0;
    border-bottom: 1px solid rgba(135,168,208,.2);
    text-transform: lowercase;
}

.nav-brand{
    width: 2rem;
}

.menu-icons i{
    font-size: 2.0rem;
    color: aquamarine;
    cursor: pointer;
    position: relative;
    z-index: 9;
}

.close i{
    color: #fff;
}

.nav-list{
    width:25rem;
    height:100vh;
    background-color: #b9ceeb;
    position: fixed;
    top: 0;
    right: -26rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 10;
    transition: all 650ms ease-in-out;

}

.nav-list.active{
    right: 0;
}

.close{
    position:absolute;
    top: 1rem;
    left: 1.5rem;
}

.nav-item{
    margin: 1.8rem 0;
}

.nav-link{
    font-transform: 1.6rem;
    text-transform: uppercase;
    color: rgba(0,0,0,.7);
}

.hero{
    width: 100%;
    height: 90vh;
    background: linear-gradient(130deg, rgba(49,24,131,0.9) 0%, rgba(140,148,190,0.8)
    1000%), url("images/123.jpg") center no-repeat fixed;
    background-size:cover;
    position: relative;

}

.hero::before{
    content:"";
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 100%;
    height: 4.7rem;
    background: url("images/wave-large.png") center no-repeat;
    background-size: cover;
}

.main-message{
    width: 100%;
    color: #F5FFFA;
    text-transform: none;
    transform: translateY(20%);
    text-align: center;
    max-width: 574px;
}

.main-message h1{
    font-family: "Kulim Park", sans-serif;
    letter-spacing: 1px;
    font-size: 4rem;
    margin: 1rem 0;
    font-weight: normal;
}

.main-message p{
    height: 100px;
    font-size: 20px;
    text-transform: none;
}




/*Features*/
.Features{
    padding: 5rem;
    z-index: 9;
    position: relative;

}

.imagegirl{
    width: 100%;
    height: 44%;
    background-image: url(images/girl3.png);
    background-repeat: no-repeat;
    top: 210px;
    position: absolute;
    right: -114rem;
    z-index: -3;

}

@media only screen and (max-width: 1000px) {
    .imagegirl {
        display: none;
    }
}

.title-heading{
    text-align:center;
    text-transform: lowercase;
    margin-bottom: 10rem;
    color: rgba(0,0,0,.7);
}

.title-heading h1 {
    font-family: "Kulim Park", sans-serif;
    font-weight: normal;
    margin: 1rem 1rem;
    padding-bottom: 20px;

}

.title-heading p{
    text-transform: none;
    font-size: 2rem;
}

.activities-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-gap: 2.5rem;
}

.activities-grid-item{
    height: 40rem;
    padding: 5rem;
    color: #b9ceeb;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    cursor: pointer;
    z-index: 9;
    transition: .4s;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.activities-grid-item:hover {
    box-shadow: 5px 5px 5px 4px #34495e;
}


.activities-grid-item::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
   background-image: linear-gradient(135deg, rgba(49,24,131,0.9) 0%, rgba(120,148,190,0.8)
    100%);
    z-index: -1;
}

.future-cost-reduce{
    background: url("images/money.jpg") center no-repeat;
}

.new-tool{
    background: url("images/tablet.jpg") center no-repeat;
}

.children-future{
    background: url("images/c1.jpg") center no-repeat;
}

.activities-grid-item i{
    font-size: 55px;
    color: aquamarine;
    text-align: center;
    padding-bottom: 18px;
}
.activities-grid-item h1{
    padding-bottom: 18px;
    font-size: 22px;
    text-align: center;
}
.activities-grid-item p{
    text-align: center;
    font-size: 17px;
}

/*testimonials TEAM*/
.testimonials{
    width: 100%;
    height: 90vh;
    background: linear-gradient(130deg, rgba(49,24,131,0.9) 0%, rgba(140,148,190,0.8)
    100%), url("images/123.jpg") center no-repeat fixed;
    background-size: cover;
    position: relative;
}

.testimonials::before{
    content: "";
    position: absolute;
    top: -3px;
    left: 0;
    width: 100%;
    height: 4.7rem;
    background: url("images/wave-small-reversed.png") center no-repeat;
    background-size: cover;
}

/* FADE IN*/
.members-container{
    width: 100%;
    position: relative;
    height: 200px;
    z-index: 9;
    margin-top: 30%;
}

.person-container{
    width: 101%;
    height: 200px;
    margin: auto;
}
/*
.testimonial-text-box{
    padding: 0 1.5rem;
    margin-bottom: 10rem;
    position: relative;
    font-family: "Kulim Park ExtraLight", sans-serif;
}
 */

/*
.person:hover{
    width: 13rem;
    height: 14rem;
    background-color: #7FFFD4;
    opacity: 0;
    transition: 0.3s ease;
}

/*Rob text*/

.person {
    display: inline-block;
    margin-right: 10px;
    position: relative;
    width: 175px;
}

.image {
    opacity: 1;
    display: block;
    width: 175px;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: #34495e;
}

.person:hover .image {
    opacity: 0.3;
}
  
.person:hover .middle {
    opacity: 0.9;
}
  
.text {
    color: white;
    font-size: 16px;
    padding: 16px 32px;
}
.subtext {
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
}

/*.person .text{
    width: 15rem;
    height: 15rem;
    background-color: #7FFFD4;
    opacity: 0;
    transition: 0.3s ease;

}
.text p{
    transform: translate(-50%, -50%);
    position: absolute;
    display: inline-block;
    margin: 34rem;
}

.person .text:hover{
    opacity: 1;
    cursor: pointer;
    width: 130px;
    height: 140px;
    border-radius: 50%;

}*/

/*---------------Marju-------------

.text{
    width: 13rem;
    height: 14rem;
    background-color: #7FFFD4;
    opacity: 0;
    transition: 0.4s ease;
}

.text p{
    display:block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

.text:hover{
    opacity: 1;
    cursor: pointer;
}

/*Fade in END*/





/* NII OLI VAREM
.tutvustus{
    width:600px;
    margin: auto;
    font-size: 20px;
    color: white;
    text-align: justify;
    position: center;
}

.inimene{
    height:0;
    overflow: hidden;
}

.tutvustus:target{
    height: auto;
}

.name{
    display: block;
    margin-bottom: 30px;
    text-align: center;
    text-transform: uppercase;
    font-size: 22px;
}

 */





/*Explanation*/
.new-approach-grid{
    height: 40vh;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-gap: 3.5rem;
    position: relative;
    z-index: 9;
}

.new-approach-grid-item p{
    color: rgba(0,0,0,0.7)
}

footer{
    position: relative;
    padding: 0;
    background-color: #34495e;
    text-align: center;
    color: rgba(0,0,0,0.7);
    z-index: 9;
}

footer section{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

footer section:before{
    content: '';
    position:  absolute;
    top: -80px;
    left: 0;
    width: 100%;
    height: 40%;
    background: white;
    border-radius: 0 0 50% 50%/0 0 100% 100%;
    transform: scaleX(1.5);
}

footer section .footercontainer{
    position:relative;
    z-index: 1;
    margin: 0 auto;
    max-width: 900px;
    text-align: center;
    height: 20vh;
}

footer section p {
    padding: 80px;
}
/*media queries*/
@media screen and(min-width: 470px){
    .main-message{
        transform: translateY(40%);
    }
}


@media screen and (min-width: 470px) {
    .hero::before{
        height: 9.4rem;
        background: url("images/wave-medium.png");
        background-size: cover;
    }

    .testimonials::before{
        height: 9.4rem;
        background: url("images/wave-medium-reversed.png");
        background-size: cover;
    }
}

@media screen and (min-width: 700px){
    header{
        height: 8rem;
    }

    .nav-brand{
        width: 35.5rem;
    }

    .nav-list{
        width: initial;
        height: initial;
        background-color: transparent;
        position: initial;
        top: initial;
        right: initial;
        flex-direction: row;
        transition: initial;
    }

    .menu-icons{
        display: none;
        position: relative;
        z-index: 9;
    }

    .nav-item{
        margin: 0 2.5rem;
    }

    .nav-link,
    .current{
        color: #fafafa;
        position: relative;
        font-size: 1.3rem;
    }

    .nav-link::before,
    .current::before{
        content:"";
        position: absolute;
        left: -.1rem;
        bottom: -.5rem;
        background-color: aquamarine;
        width:100%;
        height: 1px;
        transform: scaleX(0);
        transform-origin: center;
        transition: transform 500ms;
    }

    .current::before{
        transform: scaleX(0);


    }

    .nav-link:hover::before{
        transform: scaleX(1);
    }

    .hero{
        height: 60vh;
    }

    .main-message{
        transform: translateY(70%);
    }

    .title-heading h1{
        font-size: 3.7rem;
    }
}

@media screen and (min-width: 950px){
    .hero::before{
        height: 22.7rem;
        background: url("images/wave-large.png");
        background-size:cover;
    }

    .testimonials::before{
        height:22.7rem;
        background: url("images/wave-large-reversed.png");
        background-size:cover;
    }
}

@media screen and (min-width: 1200px){
    .hero{
        height: 75vh;
    }
}



.contact-section h1{
    text-align: center;
    color: #111;
    z-index: 9;
    position: relative;
}

.border{
    display: block;
    background: #7FFFD4;
    margin: 20px auto;
}

.contact-form{
    max-width: 600px;
    margin: auto;
    padding: 0 10px;
    overflow: hidden;
    z-index:9;
    position:relative;

}

.contact-form-text{
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin: 16px 0;
    border: 0;
    background: #b9ceeb;
    padding: 20px 40px;
    outline: none;
    color: #111;
    transition: 0.5s;
}
.contact-form-text:hover{
    box-shadow: 0 0 10px 4px #34495e;
}
textarea.contact-form-text{
    resize: none;
    height: 120px;
}

.contact-form-btn{
    float:right;
    border:0;
    background: aquamarine;
    color: #111;
    padding: 1rem 3.5rem;
    border-radius: 20px;
    cursor: pointer;
    transition: .5s;
    font-family: "Playfair", sans-serif;
}

.contact-form-btn:hover{
    background: #00fa7d;
}

.VocDec-Providing {
    padding: 10rem;
    z-index: 9;
    position: relative;


}

@keyframes load {
    0%{
        opacity: 0.08;
        /*         font-size: 10px; */
        /* 				font-weight: 400; */
        filter: blur(5px);
        letter-spacing: 3px;
    }
    50%{
                 opacity: 1; */
                 font-size: 12px; */
        /* 				font-weight:600; */
        /* 				filter: blur(0); */
    }
}

.animate {
    display:flex;
    justify-content: center;
    align-items: center;
    height:50%;
    margin: auto;
    width: 350px;
    font-size: 25px;
    font-family: Helvetica, sans-serif, Arial;
    animation: load 1.2s infinite 0s ease-in-out;
    animation-direction: alternate;
    text-shadow: 0 0 1px white;
    text-transform: none;
}

